.notifications {
    @media (min-width: 769px) {
        max-width: 320px;
    }

    position: fixed;
    top: 0px;
    right: 0;
    z-index: 19;
    min-width: 240px;

    .notification {
        margin: 20px;
    }
}
